/node_modules/
/package-lock.json
/yarn.lock
/yarn-error.log
# Xcode
!**/*.xcodeproj
!**/*.pbxproj
!**/*.xcworkspacedata
!**/*.xcsettings
!**/*.xcscheme
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Gradle
/build/
/ReactNativeSetupAndroid/android/app/build/
/ReactNativeSetupAndroid/android/app/gradle/
/ReactNativeSetupAndroid/android/app/gradlew
/ReactNativeSetupAndroid/android/app/gradlew.bat
/ReactAndroid/build/
/ReactAndroid/gradle/
/ReactAndroid/gradlew
/ReactAndroid/gradlew.bat


# Android Studio
.project
.settings
.classpath

# Watchman
.watchmanconfig

# Android
.idea
.gradle
local.properties
*.iml
#/android/

# Node
node_modules
*.log
.nvm
package-lock.json

# OS X
.DS_Store

# Root dir shouldn't have Xcode project
/*.xcodeproj

# ReactCommon subdir shouldn't have Xcode project
/ReactCommon/**/*.xcodeproj
SwacchUk/build

# Libs that shouldn't have Xcode project
/Libraries/FBLazyVector/**/*.xcodeproj
/Libraries/FBReactNativeSpec/**/*.xcodeproj
/Libraries/RCTRequired/**/*.xcodeproj
/React/CoreModules/**/*.xcodeproj
/packages/react-native-codegen/**/*.xcodeproj

# CocoaPods
/template/ios/Pods/
/template/ios/Podfile.lock
/SwacchUk/Gemfile.lock

# Ignore SwacchUk specific Pods, but keep the __offline_mirrors__ here.
SwacchUk/Pods/*
!SwacchUk/Pods/__offline_mirrors


# Visual studio
.vscode
.vs
